webserver/node_modules
game/Assets/Wikitude
game/Assets/Plugins/iOS/Wikitude.*
game/Assets/Plugins/iOS/WikitudeSDK.* 
game/Assets/GoogleARCore/

auth.json*

=============== 
Unity generated
===============
game/Temp/
game/Library/

=====================================
Visual Studio / MonoDevelop generated
=====================================
game/ExportedObj/
game/obj/
game/builds/
game/*.svd
game/*.userprefs
game/*.csproj
game/*.pidb
game/*.suo
game/*.sln
game/*.user
game/*.unityproj
game/*.booproj
game/.vs/game/xs/sqlite3/storage.ide-wal

============
OS generated
============
.*
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

============
Teacher App
============
teacher-app/node_modules
teacher-app/src/firebase.json
teacher-app/src/firebase-admin-sdk.json