a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: inherit;
}

.page-content {
  margin-top: 3rem;
}

.justify-children-end {
  display: flex;
  justify-content: flex-end;
}

.modal-content {
  margin-top: 10rem;
}